## Finding shows using information like anchors, year, channel

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display, HTML
import os
from tqdm import tqdm_notebook as tqdm

## <a href = "https://www.imdb.com/interfaces/">IMDb names dataset</a>

In [2]:
#https://www.imdb.com/interfaces/

In [ ]:
#TODO
#name might be different in IMDB dataset -> ways to convert
#

In [ ]:
#NAME -> SHOW
"""
1. Get nConst of actor from name.basics
2. get all rows from title_principles that have same nConst
3. 





"""

In [13]:
!ls IMDb

names.tsv  title_basics.tsv  title_crew.tsv  title_principals.tsv

### 1. Get nConst of actor from name.basics

In [2]:
names = pd.read_table('IMDb/names.tsv')

/home/eon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [3]:
nConst = (names[names['primaryName'] == 'Daryn Kagan']['nconst']).item()
print(nConst)

nm2160999

### 2. Get all shows (tConst) from title.principals that have this nConst

In [13]:
chunksize = 5*10**6
principals = pd.read_table('IMDb/title_principals.tsv',chunksize = chunksize)

/home/eon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

In [14]:
#Getting all shows(tConst) of this actor(nConst)
all_req_shows = pd.DataFrame(columns=['tconst', 'ordering', 'nconst', 'category', 'job', 'characters'])
#Initializing with the same columns as title.principals
for i,chunk in enumerate((principals)):
    req_shows = chunk[chunk['nconst'] == nConst]
    print('Found {} shows in chunk {}'.format(len(req_shows), i))
    all_req_shows = all_req_shows.append(req_shows, ignore_index = True)

Found 1 shows in chunk 0
Found 4 shows in chunk 1
Found 2 shows in chunk 2
Found 3 shows in chunk 3
Found 2 shows in chunk 4
Found 0 shows in chunk 5
Found 1 shows in chunk 6

In [15]:
all_req_shows

,tconst,ordering,nconst,category,job,characters
0,tt0498421,1,nm2160999,self,\N,"[""Herself"",""Herself - Anchor"",""Herself - CNN A..."
1,tt0769000,2,nm2160999,self,\N,"[""Herself""]"
2,tt0783869,6,nm2160999,self,\N,"[""Herself""]"
3,tt0818192,9,nm2160999,self,\N,"[""Herself""]"
4,tt0828659,4,nm2160999,self,\N,"[""Herself""]"
5,tt1456061,1,nm2160999,self,\N,"[""Herself""]"
6,tt1471268,1,nm2160999,actress,\N,\N
7,tt2239255,6,nm2160999,self,\N,"[""Herself - Anchor""]"
8,tt2239257,3,nm2160999,self,\N,"[""Herself - CNN Anchor""]"
9,tt3004840,6,nm2160999,self,\N,"[""Herself - Host""]"
10,tt5229748,1,nm2160999,self,\N,"[""Herself - Anchor""]"
11,tt5670284,3,nm2160999,self,\N,"[""Herself""]"
12,tt9740250,2,nm2160999,self,\N,"[""Herself - Anchor""]"

### 3. Getting names of the shows from their tConst

In [21]:
chunksize = 5*10**6
title_basics = pd.read_table('IMDb/title_basics.tsv',chunksize = chunksize)

/home/eon/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.

In [22]:
req_show_tConsts = set(all_req_shows['tconst'])
all_show_names = pd.DataFrame(columns=['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes', 'genres'])
for i,chunk in enumerate(title_basics):
    show_names = chunk[chunk['tconst'].isin(req_show_tConsts)]
    print('Found {} shows in chunk {}'.format(len(show_names), i))
    all_show_names = all_show_names.append(show_names, ignore_index = True)

Found 12 shows in chunk 0
Found 1 shows in chunk 1

In [23]:
all_show_names

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0498421,tvSeries,CNN Live Today,CNN Live Today,0,2001,\N,120,"News,Talk-Show"
1,tt0769000,tvEpisode,Episode dated 20 January 2006,Episode dated 20 January 2006,0,2006,\N,\N,"News,Talk-Show"
2,tt0783869,tvEpisode,Episode dated 28 March 2006,Episode dated 28 March 2006,0,2006,\N,\N,News
3,tt0818192,tvEpisode,Episode dated 24 May 2006,Episode dated 24 May 2006,0,2006,\N,\N,News
4,tt0828659,tvEpisode,Episode dated 12 July 2006,Episode dated 12 July 2006,0,2006,\N,\N,"News,Talk-Show"
5,tt1456061,tvMovie,Breaking the Curse with Daryn Kagan,Breaking the Curse with Daryn Kagan,0,2007,\N,90,Documentary
6,tt1471268,movie,Solar Town USA,Solar Town USA,0,2009,\N,48,"Documentary,History,News"
7,tt2239255,tvEpisode,Episode dated 22 December 2005,Episode dated 22 December 2005,0,2005,\N,\N,"News,Talk-Show"
8,tt2239257,tvEpisode,Episode dated 5 January 2006,Episode dated 5 January 2006,0,2006,\N,\N,"News,Talk-Show"
9,tt3004840,tvSeries,Bookmark,Bookmark,0,2013,\N,60,News
10,tt5229748,tvEpisode,Norway: Ski Resort Shooting,Norway: Ski Resort Shooting,0,2002,\N,\N,News
11,tt5670284,tvEpisode,"Eat Sweets, Lose Weight!/I'm Obsessed, Mother'...","Eat Sweets, Lose Weight!/I'm Obsessed, Mother'...",0,2016,\N,\N,Talk-Show
12,tt9740250,tvSeries,CNN Live This Morning,CNN Live This Morning,0,2001,2001,180,News